body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-image{
    height: 400px; /* Your height here */
    overflow: hidden;
}

h1 {
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  13px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #68a8f1;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

/*table definition*/
.ui-datatable .ui-state-default{
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
    color: #ffffff;
    background: #039be5; 
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

